.button {
  border: none;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn-with-background {
  background-color: var(--primary);
  color: var(--white);
}

.btn-without-background {
  background-color: var(--white);
  color: var(--primary);
}
