.button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.btn-with-background {
  background-color: var(--primary);
  color: var(--white);
}

.btn-without-background {
  background-color: var(--white);
  color: var(--primary);
}
