:root {
  --primary: #1a3a32;
  --secondary: #1c7d67;
  --warning: #f44336;
  --black: #333;
  --white: #ffffff;
  --darkgray: #666;
  --gray: #dadada;
  --silver: #c0c0c0;
  --lightgray: #f8f8f8;
  --defaultfont: 14px;
  --smallfont: 12px;
  --largefont: 24px;
}

body {
  margin: 0;
  background-color: var(--white);
  font-size: var(--defaultfont);
  font-family: RiformaLLWeb-Medium, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
